
<h1> <%= @director_id.capitalize %> director </h1>

<p>The <%= @director_id %> director in our dataset right now is <a href="<%= @director_id_internal %>"><%= @director_name %></a>, born on <%= @director_dob %>. </p>
