<h1>List of all directors</h1>
<hr>

<table border="1">
  <tbody>
    <tr>
      <th> ID </th>
      <th> Image </th>
      <th> Name </th>
      <th> DOB </th>
      <th>  </th>
    </tr>
    <% @list_of_directors.each do | director |%>    
      <tr>
        <td> <%= director.id %> </td>
        <td> <img style="width:250px;" src="http://robohash.org/<%= director.image %>"> </td>
        <td> <%= director.name %> </td>
        <td> <%= director.dob %> </td>
        <td> <a href="/directors/<%= director.id %>"> Show details </a> </td>
      </tr>
    <% end %>
  </tbody>
</table>
